<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO LIST</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            text-align: center;
        }

        .btn-container {
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>WELCOME!</h2>
        <div class="btn-container">
            <form action="/login" style="margin: 10px;">
                <button style="margin: 5px;padding: 5px;">Login!</button>
            </form>
            <form action="/signup"  style="margin: 10px;">
                <button style="margin: 5px;padding: 5px;">Sign Up!</button>
            </form>
        </div>
    </div>
</body>

</html>
