<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your taks</title>
</head>

<body>
    <h2>
        <%=user.username%> Tasks
    </h2>
    <ul>
        <%for(task of user.todos){ %>
                <li style="margin: 10px;">
                    <%=task.todo%>
                </li>
                <form action="/update/<%=task._id%>" method = "get" style="margin: 10px;" >
                    <button>update this task</button>
                </form>
                <form action="/delete/<%=task._id%>?_method=DELETE" method="POST""  style="margin: 10px;">
                    <button>delete this task</button>
                </form>

                <%} %>
    </ul>
    <form action="/todo/add">
        <button>Add Task</button>
    </form>
    <form action="/logout" method="POST" style="margin: 10px;"><button>logout</button></form>
</body>

</html>