<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUP</title>
</head>

<body>
    <h2>Sign UP!!</h2>


    <form action="/signup" method="POST">
        <section>
            <label for="username">Enter Username</label>
            <input type="text" name="username" id="username" placeholder="username">
        </section>
        <section>
            <label for="password">Enter password</label>
            <input type="text" name="password" id="password" placeholder="password">
        </section>
        <section>
            <button>SignUP</button>
        </section>
    </form>
    <a href="/login">Already a User? Login!</a>

</body>

</html>